.home {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid #4994db;
    h3 {
      font-size: 24px;
    }
  }
  .movie_list {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    cursor: pointer;
    .list_box {
      width: 20%;
      margin-top: 30px;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      .img_responsive {
        width: 87%;
        height: 300px;
        transition: all .2s ease-in-out;
      }
      .movie_title {
        padding-top: 15px;
      }
      .rate {
        font-size: 14px;
      }
      .tips_card {
        position: absolute;
        left: 245px;
        z-index: 1000;
        top: -15px;
        width: 120%;
        min-height: 200px;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 20px 15px;
        color: #000;
        h5 {
          font-weight: 500;
          font-size: 14px;
          margin-bottom: 0;
          span {
            font-weight: normal;
            color: #999;
          }
        }
        .rate_tips {
          font-size: 12px;
        }
        .date_diqu {
          padding: 10px 0;
        }
        .casts {
          display: flex;
          margin-top: 10px;
          div {
            display: flex;
          }
          .casts_name {
            flex-wrap:wrap;
            flex: 1;
          }
        }
        .triangle_border_left {
          position: absolute;
          left: -8px;
          top: 15px;
          width:15px;
          height:15px;
          background-color: #fff;
          transform: rotate(-45deg);
          border: 1px solid #ccc;
          border-right-color: transparent;
          border-bottom-color: transparent;
        }
      }
    }
    .list_box:hover {
      .img_responsive {
        transform: scale(1.1);
        transition: all .2s ease-in-out;
      }
    }
  }
  .pagination {
    text-align: right;
    margin-top: 20px;
  }
}